@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    width: 100vw;
    height: auto;
    background-color: #FFFFFF;
}
header {
    width: 100%;
    background-image: url('assets/header-bgd.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h1 {
    font-size: 3.5rem;
    color: white;
}
header a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}
header a:hover {
    cursor: pointer;
    text-decoration: underline;
}
form {
    max-width: 800px;
    min-width: 220px;
    width: 80%;
    margin: 0 auto 5%;
    position: relative;
}
.search-input { 
    width: 100%;
    height: 3rem;
    border: none;
    padding: 1% 20% 1% 2%;
    border: 1px solid rgb(221,230,230);
    border-radius: 10px;
    font-size: 1.2rem;
    color:  rgb(128, 140, 140);
    position: absolute;
    top: -6rem;
    @media (max-width: 1200px){
        top: -5rem;
    }
    @media (max-width: 900px) {
        top: -4rem;
    }
}
.search-button{
    height: 3rem;
    width: 18%;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(221, 230, 230);
    font-size: 1.2rem;
    position: absolute;
    color:  rgb(128, 140, 140);
    top: -6rem;
    right: 0rem;
     @media (max-width: 1200px){
        top: -5rem;
    }
     @media (max-width: 900px) {
        top: -4rem;
    }
}
.search-button:hover {
    cursor: pointer;
}
#movie-container, #watchlist-container {
    max-width: 1100px;
    min-width: 280px;
    width: 80%;
    margin: 2% auto;
}
.individual-movie-card{
    display: flex;
    border-bottom: 1px solid rgb(221,230,230);
    padding: 3% 0;
    align-items: center;
}
.movie-poster {
    height: 90%;
    width:150px;
    border-radius: 5px;
    margin-right: 5%;
}
.movie-poster:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.movie-details {
    width: 90%;
    padding: 1% 4%;
}
.star-symbol {
    width: 20px;
    display: inline;
    margin-right: 10px; 
}
.star-symbol:hover {
    cursor: pointer;
}
.add-button, .minus-button {
    display: flex;
    align-items: center;
    gap: 5%;
    font-size: 1rem;
    padding: 2% 1%;
    background-color: #FFFFFF;
    border: none;
}
.add-button:hover, .minus-button:hover {
    cursor: pointer;
}
.add-symbol, .minus-symbol {
    width: 20px;
}
.add-symbol:hover, .minus-symbol:hover {
    transform: scale(1.10); 
}
.movie-name-rating {
    display: flex;
    gap: 5%;
    align-items: center;
    margin-bottom: 2%;
    font-size: 1.2rem;
}
.movie-hours-genre {
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 2%;
    font-size: 1.1rem;
}
.movie-story {
    font-size: 1.4rem;
    color: rgb(128, 140, 140);
    font-weight: 400;
    word-spacing: 1.2px;
}